body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}

.timeline {
  text-align: center;
  font-weight: 400;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
.tweet,
.tweet-info {
  display: flex;
}
.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.tweet-info {
  flex-direction: column;
  margin: 10px;
}
.tweet-info div p {
  margin: 10px 0;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.heart-button {
  background: transparent;
  border: none;
}
.replying-to {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
