body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}

.timeline {
  text-align: center;
  font-weight: 400;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.tweet,
.tweet-info {
  display: flex;
}
.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.tweet-info {
  flex-direction: column;
  margin: 10px;
}
.tweet-info div p {
  margin: 10px 0;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.heart-button {
  background: transparent;
  border: none;
}
.replying-to {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.center {
  text-align: center;
}
.new-tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}
.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;

  position: relative;
}
.replies {
  text-align: center;
  font-weight: 600;
}
.navbar {
  display: flex;
  justify-content: flex-start;
}
.navbar ul {
  display: flex;
}
.navbar > ul > li {
  padding-left: 0;
}
.active {
  font-weight: 700;
}
